@use "colorVar" as v;

#aboutMe {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: v.$background;
  background-size: cover;
  color: white;
  text-align: center;
  .aboutH2 {
    font-size: 3rem;
  }
  .aboutContent {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    .aboutPara {
      padding: 3rem;
      width: 80%;
      background-color: v.$secondary;
      border-radius:15px;
    }
    .aboutPara:hover {
      background-color: rgba(64, 26, 143, .5);
    }
  }
  
}
