#expertise {
  /*  background-color: #181232; */
  /* background-image: linear-gradient(
    55deg,
    hsl(230deg 31% 11%) 0%,
    hsl(240deg 27% 12%) 16%,
    hsl(248deg 29% 13%) 31%,
    hsl(254deg 31% 13%) 45%,
    hsl(259deg 32% 13%) 56%,
    hsl(263deg 34% 13%) 66%,
    hsl(267deg 35% 14%) 75%,
    hsl(269deg 37% 14%) 82%,
    hsl(272deg 38% 14%) 87%,
    hsl(274deg 39% 14%) 92%,
    hsl(275deg 41% 15%) 95%,
    hsl(277deg 42% 15%) 98%,
    hsl(278deg 43% 15%) 100%
  ); */
  background: transparent;
}

.skills-container {
  margin: 5% 5%;
  padding: 2em;
  display: flex;
  flex-direction: column;
  text-align: left;
  /* background-color: #33245c; */
  background-image: linear-gradient(
    40deg,
    hsl(264deg 100% 40%) 0%,
    hsl(265deg 99% 41%) 30%,
    hsl(267deg 99% 42%) 45%,
    hsl(268deg 99% 42%) 56%,
    hsl(269deg 98% 43%) 64%,
    hsl(270deg 98% 44%) 70%,
    hsl(271deg 98% 45%) 76%,
    hsl(272deg 98% 46%) 80%,
    hsl(273deg 98% 47%) 84%,
    hsl(274deg 98% 47%) 88%,
    hsl(274deg 98% 48%) 91%,
    hsl(275deg 98% 49%) 94%,
    hsl(276deg 98% 50%) 97%,
    hsl(276deg 99% 50%) 100%
  ); 
  border-radius: 15px;
  box-shadow: 0px 5px 20px -15px rgba(0, 0, 0, 0.75);
  svg {
    color: #e2e6fa;
  }
}
.light-mode .skills-container {
  background-color: #F8F9FA;
  background-image: none;
}

.skills-container .skills-grid {
}

.skills-container .skills-grid .skill {
  align-items: center;
  text-align: left;
  img {
    height: 52px;
  }
  h2 {
    padding: 0.5rem 0 0.5rem 0;
  }
  p {
   font-size: 1rem;
  } 
}
.icon-container {
  display: flex;
  gap: 0.5rem;
  
  img {
    filter: invert(100%) sepia(1%) saturate(2972%) hue-rotate(55deg) brightness(112%) contrast(101%);
    transition: transform 0.25s ease-out;
    &:hover {
      transform: scale(1.5);
      overflow: visible;
    }
  } 
  
}
.light-mode .icon-container img {
  filter: invert(12%) sepia(97%) saturate(5793%) hue-rotate(267deg) brightness(74%) contrast(123%);
}
.chip {
  color: rgb(39, 40, 34) !important;
  background-color: white !important;
  font-size: 0.8rem !important;
  height: 25px !important;

  span {
    font-family: "Courier Prime", monospace;
    color: rgb(39, 40, 34);
  }

  svg {
    height: 15px !important;
  }
}

.flex-chips {
  line-height: 2;
  margin: 0.5;

  .chip-title {
    color: white;
    padding-right: 10px;
  }
}

.flex-chips .MuiChip-root {
  margin-right: 0.5em;
}

.flex-chips .MuiChip-outlined {
  background-color: #e0e0e0;
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.flex-chips .MuiChip-outlined span {
  color: rgb(39, 40, 34);
}

@media screen {
  @media (max-width: 768px) {
    .skills-container {
      display: block;
      padding-left: 5%;
      padding-right: 5%;
      margin: 0;
      border-radius: 0;
    }

    .skills-container .skills-grid {
      display: initial;
    }

    .skills-container .skills-grid .skill {
      padding-bottom: 5%;
    }
  }

  @media (max-width: 567px) {
    .skills {
      font-size: 12px;
    }
  }
}
